build
results
.idea
venv
checkpoints
examples
examples/cases_for_testing/clean.py
*/Thumbs.db
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.DS_Store
*~
*.zip
*/*/__pycache__
*/__pycache__
extern/metrics/inception*
extern/vgg/vgg*