build
results
.idea
venv
checkpoints
examples
examples/cases_for_testing/clean.py
*/Thumbs.db
*/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.DS_Store
*~
*.zip
extern/vgg/vgg_19
*/*/__pycache__